@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

:root {
  --mainBGC: #0e0e0e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #0e0e0e;
  background: var(--mainBGC);
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500px;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  position: absolute;
  width: 100%;
  height: 7%;
  top: 0px;
  border-bottom: #824800 solid 3px;
  z-index: 3;
  animation: navBorder 10s linear;
}

.logo {
  width: 0rem;
  height: 0rem;
  cursor: pointer;
  background-color: var(--mainBGC);
}

.nav_links {
  list-style: none;
  background-color: #824800;
  animation: navButtonLinks 10s linear;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
  background-color: var(--mainBGC);
}

@keyframes navAnimation {
  0% {
    color: var(--mainBGC);
  }
  5% {
  }
  25% {
  }
  50% {
  }
  85% {
    color: var(--mainBGC);
  }
  100% {
    color: white;
  }
}
@keyframes navBorder {
  0% {
    border-bottom: var(--mainBGC) solid 3px;
  }
  5% {
  }
  25% {
  }
  50% {
  }
  85% {
    border-bottom: var(--mainBGC) solid 3px;
  }
  100% {
    border-bottom: #824800 solid 3px;
  }
}
@keyframes navButtonLinks {
  0% {
    background-color: var(--mainBGC);
  }
  5% {
  }
  25% {
  }
  50% {
  }
  85% {
    background-color: var(--mainBGC);
  }
  100% {
    background-color: #824800;
  }
}

.nav_links li a {
  transition: all 0.3s ease 0s;
  animation: navAnimation 10s linear;
}

.nav_links li a:hover {
  color: orange;
}
#cta {
  position: sticky !important;
  top: 0;
}
button {
  padding: 9px 25px;
  background-color: #824800;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  animation: navButtonLinks 10s linear, navAnimation 10s linear;
}

button:hover {
  background-color: #683a00;
}

/*nav bar stuff*/

/* .nav-links li {
  display: inline-block;
  padding: 0 20px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 5%;
  position: fixed;
  width: 100%;
}

li,
#cta {
  font-weight: 500;
  font-size: 16;
  text-decoration: none;
}
.navButton {
  font-weight: 500px;
  font-size: 16px;
}



a {
  text-decoration: none;
  transition: all 0.3s ease-out;
}
a:hover {
  color: blueviolet;
}

.logo {
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  margin-right: auto;
}

.logoTitle {
  margin-right: auto;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: #0088a9;
}

button {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: goldenrod;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: #23272a;
}

button:hover {
  background-color: gold;
} */

/* @media screen and (max-width: 880px) {
  

  .line {
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
  }

  .hamburger {
    position: fixed;
    cursor: pointer;
    right: 5%;
    top: 5%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }

  .nav-links {
    position: fixed;
    background: rgb(13, 26, 46);
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(80px at 90% -10%);
    -webkit-clip-path: circle(80px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .nav-links.open {
    clip-path: circle(2100px at 90% -10%);
    -webkit-clip-path: circle(2100px at 90% -10%);
    pointer-events: all;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li a {
    font-size: 25px;
  }
  .nav-links li:nth-child(1) {
    transition: all 1.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 1.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    transition: all 1.5s ease 0.6s;
  }
  li.fade {
    opacity: 1;
  }
} */

/*Main page stuff*/

section {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 60px;
  /* background: rgb(13, 26, 46, 0.7); */
  padding: 8px 24px;
  border-radius: 16px;
  text-align: center;
}
@keyframes firstPageBackground {
  0% {
  }
  5% {
  }
  25% {
  }
  50% {
  }
  75% {
  }
  100% {
  }
}

/*start if page 1*/
section:nth-child(2) {
  font-size: 5px;
  /* background-image: url(images/starrySky.jpg); */
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  animation: firstPageBackground 5s linear 5s;
}
@keyframes firstWord {
  0% {
    color: var(--mainBGC);
    bottom: 200px;
    left: 440px;
  }
  5% {
  }
  25% {
    color: white;
  }
  50% {
    bottom: 200px;
    left: 440px;
  }
  75% {
  }
  100% {
    color: white;
    bottom: 0px;
    left: 0px;
  }
}
@keyframes introSentence {
  0% {
    color: var(--mainBGC);
  }
  25% {
  }
  50% {
  }
  75% {
    color: var(--mainBGC);
  }
  100% {
    color: white;
  }
}
@keyframes emphasis {
  0% {
    color: var(--mainBGC);
  }
  25% {
  }
  50% {
  }
  75% {
    color: var(--mainBGC);
  }
  100% {
    color: orange;
  }
}

#firstWord {
  color: var(--mainBGC);
  position: relative;
  bottom: 200px;
  left: 440px;
  animation: firstWord 5s ease-in-out 2s forwards;
  z-index: 2;
}
#introSentence {
  color: var(--mainBGC);
  animation: introSentence 9.5s linear forwards;
  position: relative;
  z-index: 1;
}
.emphasis {
  color: var(--mainBGC);
  animation: emphasis 9.7s linear forwards;
  position: relative;
  z-index: 1;
}

#heroTag {
  color: var(--mainBGC);
  cursor: pointer;
  transition: 0.5s linear;
}
#heroTag:hover {
  color: orange;
  transition: 0.5s linear;
}

.quotes {
  color: var(--mainBGC);
  position: absolute;
  cursor: pointer;
  transition: 0.5s linear;
}

.quotes:hover {
  color: #824800;
  transition: 0.5s linear;
}
#quote1 {
  top: 200px;
  left: 250px;
}
#quote2 {
  top: 280px;
  right: 250px;
}
#quote3 {
  bottom: 100px;
  right: 200px;
}
#quote4 {
  bottom: 270px;
  left: 150px;
}
#quote5 {
  bottom: 270px;
  right: 100px;
}
#quote6 {
  top: 90px;
  right: 100px;
}
/*end of page 1*/

section:nth-child(3) {
  background-color: rgb(13, 26, 46);
  height: 15vh;
  width: 100%;
}

section:nth-child(3) h2 {
  font-size: 20px;
  font-weight: 100;
}

section:nth-child(4) {
  background-image: url(images/sillouhetteWalk.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
}

.blur {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
}

section:nth-child(5) {
  background-color: rgb(13, 26, 46);
  height: 15vh;
  width: 100%;
}
section:nth-child(5) h2 {
  font-size: 20px;
  font-weight: 100;
}

section:nth-child(6) {
  /* background-image: url(images/starrySky.jpg); */
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

/*crappy phone fix for now*/
@media screen and (max-width: 500px) {
  header {
    display: none;
  }
  #heroTag {
    display: none;
  }
  .quotes {
    display: none;
  }
  section:nth-child(3) h2 {
    font-size: 5px;
    font-weight: 100;
  }
}
