/*Variable*/
:root {
  --primary: #ab874b;
  --secondary: white;
}

/* reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  outline: black;
  text-decoration: none;
  font-family: "Nanum Myeongjo";
}

/* base styles */
.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  align-items: center;
}
li a {
  color: black;
  text-decoration: none;
  transition: ease-in 0.2s;
}
li a:hover {
  color: var(--primary);
}

.nav_links_container {
  grid-column: 3/7;
  align-items: center;
  justify-items: center;
  align-items: center;
}

.nav_links_container li:nth-child(1) {
  grid-column: 1/3;
}
.nav_links_container li:nth-child(2) {
  grid-column: 3/5;
}
.nav_links_container li:nth-child(3) {
  grid-column: 5/7;
}
.nav_links_container li:nth-child(4) {
  grid-column: 7/9;
}

.contactButton {
  border: none;
  color: #f5f5f5;
  justify-self: center;
  height: 3em;
  width: 10em;
  margin: 10px 10px;
  grid-column: 8/9;
  border-radius: 50px;
  cursor: pointer;
  background-color: var(--primary);
  transition: 0.2s ease-in;
}
.contactButton:hover {
  color: var(--secondary);
  background-color: #90713f;
}

/* fonts */
@font-face {
  font-family: "Nanum Myeongjo";
  src: url(/Assets/Fonts/NanumMyeongjo-Regular.ttf);
}

/* Mobile styles */
.navBar {
  display: none;
}

@keyframes name {
  0% {
    transform: translate(0em, 0em);
  }
  25% {
  }
  50% {
  }
  75% {
    transform: translate(1.5em, 8em);
    opacity: 1;
    font-size: 2em;
  }
  100% {
    transform: translate(1.5em, 8em);
    opacity: 0;
    font-size: 2em;
  }
}
.name {
  position: absolute;
  color: var(--primary);
  width: 8em;
  border-bottom: #90713f solid 2px;
  font-size: 1em;
  margin: 20px 20px;
  animation: name 5s ease-in-out reverse;
}

section:nth-child(3) {
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes myTitles {
  100% {
    opacity: 1;
  }
}
.myTitles {
  position: absolute;
  font-weight: bold;
  opacity: 0;
  animation: myTitles 1.5s ease-in 5s forwards;
}
@keyframes myTitlesFL {
  100% {
    color: var(--primary);
  }
}
.myTitlesFL {
  animation: myTitlesFL 2s ease-in 6s forwards;
}

/* small tablet sizes */
@media screen and (min-width: 620px) {
}

/*Laptop*/
@media screen and (min-width: 960px) {
}

/*Desktop*/
@media screen and (min-width: 1200px) {
}

/*Testing*/

.heroBanner {
  object-fit: cover;
  max-width: 100%;
  width: 100vw;
  height: 100vh;
  opacity: 0.3;
  z-index: -1;
}
img {
  max-width: 100%;
  height: 50vh;
}

.divider {
  background-color: silver;
  height: 3vh;
}
