@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #f5f5f5;
  background: black;
  scroll-behavior: smooth;
}

li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500px;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  position: fixed;
  width: 100%;
  height: 7%;
  top: 0px;
  background-color: rgb(13, 26, 46);
  border-bottom: black solid 3px;
  z-index: 3;
}

.logo {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  background-color: rgb(13, 26, 46);
}

.nav_links {
  list-style: none;
  background-color: rgb(13, 26, 46);
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
  background-color: rgb(13, 26, 46);
}

.nav_links li a {
  transition: all 0.3s ease 0s;
  background-color: rgb(13, 26, 46);
}

.nav_links li a:hover {
  color: blue;
}
#cta {
  background-color: rgb(13, 26, 46);
}
button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

/*nav bar stuff*/

/* .nav-links li {
  display: inline-block;
  padding: 0 20px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 5%;
  position: fixed;
  width: 100%;
}

li,
#cta {
  font-weight: 500;
  font-size: 16;
  text-decoration: none;
}
.navButton {
  font-weight: 500px;
  font-size: 16px;
}



a {
  text-decoration: none;
  transition: all 0.3s ease-out;
}
a:hover {
  color: blueviolet;
}

.logo {
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  margin-right: auto;
}

.logoTitle {
  margin-right: auto;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: #0088a9;
}

button {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: goldenrod;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: #23272a;
}

button:hover {
  background-color: gold;
} */

/* @media screen and (max-width: 880px) {
  

  .line {
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
  }

  .hamburger {
    position: fixed;
    cursor: pointer;
    right: 5%;
    top: 5%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }

  .nav-links {
    position: fixed;
    background: rgb(13, 26, 46);
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(80px at 90% -10%);
    -webkit-clip-path: circle(80px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .nav-links.open {
    clip-path: circle(2100px at 90% -10%);
    -webkit-clip-path: circle(2100px at 90% -10%);
    pointer-events: all;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li a {
    font-size: 25px;
  }
  .nav-links li:nth-child(1) {
    transition: all 1.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 1.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    transition: all 1.5s ease 0.6s;
  }
  li.fade {
    opacity: 1;
  }
} */

/*Main page stuff*/

section {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 60px;
  background: rgb(13, 26, 46, 0.7);
  padding: 8px 24px;
  border-radius: 16px;
  text-align: center;
}

.emphasis {
  color: #0096ff;
  background: rgb(13, 26, 46, 0);
  font-style: italic;
}
#name {
  background: #1c395d;
}

section:nth-child(2) {
  font-size: 5px;
  background-image: url(images/starrySky.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

section:nth-child(3) {
  background-color: rgb(13, 26, 46);
  height: 15vh;
  width: 100%;
}

section:nth-child(3) h2 {
  font-size: 20px;
  font-weight: 100;
}

section:nth-child(4) {
  background-image: url(images/sillouhetteWalk.jpg);
  background-size: cover;
  background-attachment: fixed;
  /* filter: blur(8px);
  -webkit-filter: blur(8px); */
  height: 100vh;
  width: 100%;
}

.blur {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
}

section:nth-child(5) {
  background-color: rgb(13, 26, 46);
  height: 15vh;
  width: 100%;
}
section:nth-child(5) h2 {
  font-size: 20px;
  font-weight: 100;
}

section:nth-child(6) {
  background-image: url(images/starrySky.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}
